@page "/about"
@attribute [StreamRendering]
<style>
    body {
        background-color: #B8EBF1;
    }
</style>

<h1 style=" font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;">About</h1>
<p style=" font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;">This webpage was created and deployed to Azure as part of the practical component of a bachelor's thesis. Azure App Service was used to host the simple .NET Blazor app, capitalizing on its built-in security, scalability, and high availability to ensure efficient and reliable access to the webpage.</p>
